<div class="about">
  <%= render 'layouts/iconbar' %>
  <!-- <div id="cube" class="" style="width:100vw;height:100vw;position:absolute;transform-style:preserve-3d;"> -->
    <!-- <figure class="front" style="width:100%;height:100%;"> -->
      <div class="container-fluid about_pic center">
        <p>WHAT A STORY</p>
        <div>
          <p>FIND OUT MORE</p>
          <i class="fa fa-long-arrow-down arrowdown"></i>
          <div class="circle_holder">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingzero" style="overflow:hidden;">
        <div class="pink_background">
          <div class="row">
            <div class="col-md-6 center box_bottom_zero paddingzero">
              <div class="ee">
                <div class="box_below fe">
                  <div class="center word-box">
                    <p class="center wording-big">The <strong>Brief History</strong> of Felice Store</p>
                    <!-- h1 class="center wording"></h1> -->
                  </div>
                </div>
              </div>
              <div class="ee">
                <div class="pic_below fe">
                  <div class="pic-right">
                    <%= image_tag ('book.jpg') %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 right_box paddingzero">
              <div class="ee">
                <div class="pic_below fe">
                  <div class="pic-left">
                    <%= image_tag ('woman-1.jpg') %>
                  </div>
                </div>
              </div>
              <div class="ee">
                <div class="pic_below fe">
                  <div class="center word-box2" style="margin-bottom:0;">
                    <p class="center wording-big">
                      <strong>Company Introduction</strong>
                    </p>
                    <br>
                    <br>
                    <p class="center wording-normal">
                      Felice Jewelry Store, from traditional mining industry to today's mainstream fashion, quality and professional as always adhere to the brand of goods requires absolutely meticulous and perfect, will become the perfect fusion of Eastern and Western cultures jewelery companies.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 paddingzero pink_background">
            <div class="ee">
              <div class="pic_below fe">
                <div class="pic">
                  <%= image_tag ('purple.jpg') %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pink_background" style="position:relative;width:100vw;height:100vw;">
          <div class="row">
            <div class="right_box paddingzero box_bottom_zero">
              <div class="ee" style="float:left;">
                <div class="pic_below fe test">
                  <div class="pic-left" style="top:0;left:0;width:50vw;height:50vw;background:url('assets/bikini.jpg') 50% 50%;background-size:cover;">
                    <%#= image_tag ('bikini.jpg') %>
                  </div>
                </div>
              </div>
              <div class="ee" style="float:left;">
                <div class="pic_below fe">
                  <div class="center word-box3" style="top:50vw;left:0;width:50vw;height:50vw;">
                    <div class="content">
                      <p class="center wording-big">
                        <strong>Philosophy</strong>
                      </p>
                      <br>
                      <br>
                      <p class="center wording-normal">
                        Felice is from the Italian "happiness", "happy" means; but also tells us the original intention of the brand; not only represent a fashion boutique art as well as a blessing characterization. Crafted, integrity management, just to bring the highest customer satisfaction.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="center box_bottom_zero paddingzero">
              <div class="ee" style="float:left;">
                <div class="pic_below fe">
                  <div class="center word-box3" style="top:0;left:50vw;width:50vw;height:50vw;">
                    <div class="content">
                      <p class="center wording-big">
                        <strong>Business</strong>
                      </p>
                      <br>
                      <br>
                      <p class="center wording-normal">
                        Felice engaged in the sale of jewelry design, mosaic, production, and ore, Diamond, crystal and other jewelry products. Through the ultimate technology, strong cultural conservation, service and enthusiasm to create a professional customer support make jewelry brand.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ee" style="float:left;">
                <div class="pic_below fe">
                  <div class="pic-right" style="top:50vw;left:50vw;width:50vw;height:50vw;background:url('assets/flower_girl.jpg') 50% 50%;background-size:cover;">
                    <%#= image_tag ('flower_girl.jpg') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="position:relative;">
          <div class="col-md-12 paddingzero pink_background">
            <div class="ee">
              <div class="pic_below fe">
                <div class="pic">
                  <%= image_tag ('blonde.jpg') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </figure> -->
  <!-- </div> -->
<%= render 'layouts/footer' %>
</div>

<script>
  $(window).scroll(function(){
    var windowtop    = $(window).scrollTop();
    var windowbottom = $(window).scrollTop() + $(window).height();
    $('.ee').each(function(){
      var fe = $(this).children('.fe')
      if(windowbottom <= $(this).offset().top || windowtop >= $(this).offset().top + $(this).height()){
        // if(fe.hasClass('test')){debugger;}
        fe.removeClass('active');
        if(windowbottom <= $(this).offset().top){
          fe.addClass('box_below');
          fe.removeClass('box_above');
        }
        else if(windowtop >= $(this).offset().top + $(this).height()){
          fe.addClass('box_above');
          fe.removeClass('box_below');
        }
      }
      else{
        fe.addClass('active');
      }
    });
  });
</script>
