<div class="products">
  <%= render 'layouts/iconbar' %>
  <div class="row">
    <div class="title">
      <p class="big">FELICE JEWELRY</p>
      <p class="small">Online Store</p>

      <form class="center-search">
        <input type="search" placeholder="Quest">
      </form>

      <div id="findoutmore_button">
        <p>FIND OUT MORE</p>
        <span class="arrow arrowdown"></span>
        <div class="circle_holder">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid content">
    <div class="row">
      <%= render 'layouts/left' %>
      <div class="col-md-8 product_holder">
        <div class="row">
          <div class="product-listing">
            <h3 class="product-tag"><strong>PRODUCTS</strong></h3>
          </div>
          <div class="tag product-listing">
            <p class="tag-btn">
              <button type="button" class="btn btn-default nav-btn">All</button>
              <button type="button" class="btn btn-default nav-btn">Choice1</button>
              <button type="button" class="btn btn-default nav-btn">Choice2</button>
              <button type="button" class="btn btn-default nav-btn">Choice3</button>
            </p>
          </div>
          <hr class="hr">
          <div class="product-listing sort_by">
            <p class="sortby">Sort By</p>
            <select class="form-control sortselect" name="post[person_id]">
              <option value="" selected="selected">None</option>
              <option value="1">David</option>
              <option value="2">Sam</option>
              <option value="3">Tobias</option>
            </select>
          </div>
          <hr class="hr">
          <br>
        </div>

        <div class="row">
          <div class="product-listing">
            <% 10.times do %>
              <div class="col-md-4 paddingzero product_big_box">
                <%= link_to(image_tag("csegg.png", size: '270x270', class: "image_big"), product_content_path) %>
                <h3 class="center">$500.00</h3>
                <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
                <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
                <%= link_to "ADD TO CART", '#', class: "btn btn-default nav-btn" %>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>

<script>
  $(window).scroll(function(){
    $('.product_big_box').each(function(){
      if($(window).scrollTop() + $(window).height() > $(this).offset().top){
        $(this).addClass('active');
      }
    });
  });
  $('#findoutmore_button').click(function(){
    $('html,body').animate({
      scrollTop: $('.content').offset().top - $('.navicon').height()
    },1000);
  });
  $(window).scroll(function(){
    if(($(window).scrollTop() + $('.navicon').height() > $(window).height()) && (menutoggle == false)){
      $('.navicon').addClass('active');
    }
    else{
      $('.navicon').removeClass('active');
    }
  });
</script>
