<div class="products">
  <%= render 'layouts/iconbar' %>
  <div class="row">
    <div class="title">
      <p class="big">FELICE JEWELRY</p>
      <p class="small">Online Store</p>
    </div>
    <!-- <div class="jumbotron jumbotron-fluid">
      <div class="container jumbo-pic">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div> -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <!-- <br>
        <br> -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3>COLLECTIONS</h3>
            <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
              <li><a>Category 1</a></li>
              <li><a>Category 2</a></li>
              <li><a>Category 3</a></li>
              <li><a>Category 4</a></li>
              <li><a>Category 5</a></li>
              <li><a>Category 6</a></li>
            </ul>
            <br>
            <h3>PRODUCT TYPES</h3>
            <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
              <li><a>Category 1</a></li>
              <li><a>Category 2</a></li>
              <li><a>Category 3</a></li>
              <li><a>Category 4</a></li>
              <li><a>Category 5</a></li>
              <li><a>Category 6</a></li>
            </ul>
            <br>
            <div class="product_row">
              <h3>BEST SELLERS</h3>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-8 product_holder">
        <div class="row">
          <div class="product-listing">
            <h3 class="product-tag">PRODUCTS</h3>
          </div>
          <div class="tag product-listing">
            <p>
              <button type="button" class="btn btn-default nav-btn">All</button>
              <button type="button" class="btn btn-default nav-btn">Choice1</button>
              <button type="button" class="btn btn-default nav-btn">Choice2</button>
              <button type="button" class="btn btn-default nav-btn">Choice3</button>
            </p>
          </div>
          <hr class="hr">
          <div class="product-listing sort_by">
            <p class="sortby">Sort By</p>
            <select class="form-control sortselect" name="post[person_id]">
              <option value="" selected="selected">None</option>
              <option value="1">David</option>
              <option value="2">Sam</option>
              <option value="3">Tobias</option>
            </select>
          </div>
          <hr class="hr">
          <br>
        </div>

        <div class="row">
          <div class="product-listing">
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="product-listing">
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="product-listing">
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
            <div class="col-md-4 paddingzero product_big_box">
              <%= image_tag("csegg.png", size: '270x270', class: "image_big") %>
              <h3 class="center">$500.00</h3>
              <p class="center">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <p class="center gray">10k Gold and Diamond Three-Stone Heart Pendant Necklace</p>
              <button type="button" class="btn btn-default nav-btn">ADD TO CART</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>

<script>
  $(window).scroll(function(){
    if($(window).scrollTop() + $('.navicon').height() > $(window).height()){
      $('.navicon').addClass('active');
    }
    else{
      $('.navicon').removeClass('active');
    }
  });
</script>
