<div class="contents">
  <%= render 'layouts/iconbar' %>
  <div class="container-fluid blank_space">
    <div class="row">
      <%= render 'layouts/left' %>
      <div class="col-md-8 product_holder">
        <div class="row product-listing">

          <div class="col-md-5 paddingzero">
            <div class="content-img">
              <%= image_tag("csegg.png", size: '345x345', class: "image_big") %>
            </div>
          </div>
          <div class="col-md-7">
            <div class="gray-text">
              <h2><strong>10k Gold and Diamond Three-Stone Heart Pendant Necklace</strong></h2>
            </div>
            <p class="price">
              <h1 class="price-tag"><strong>$ 500.00 </strong></h1>
              <h3 class="price-tag cross">$ 700.00 </h3>
            </p>
            <h4 class="gray-text">Qty:</h4>
            <input type="number" name="quantity" id="quantity" value="1" class="product_number_field" min="1" max="9">
            <%= link_to "ADD TO CART", '#', class: "btn btn-default nav-btn addtocart" %>
            <hr class="hr2">
            <div class="type">
              <h4 class="gray-text">Type:</h4>
            </div>
            <div class="vendor">
              <h4 class="gray-text">Vendor:</h4>
            </div>
            <hr class="hr2">
          </div>

        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
