<div class="iconbar">
  <div class="bar-top">
    <!-- <p id="monitor" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorbottom" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicheight" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicoffsettop" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicoffsetbottom" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p> -->
    <div class="navicon">
      <div class="iconbutton">
        <div class="felice">
          <%= image_tag ('FELICE123-01.png'), size: '233x31' %>
        </div>
      </div>
      <%= link_to "", "#", class: "fa fa-sign-out signoutbutton" %>
      <%= link_to "", new_user_registration_path, class: "fa fa-user-plus signupbutton" %>
      <%= link_to "", new_user_session_path, class: "fa fa-sign-in signinbutton" %>
      <%= link_to cart_path, class: "fa fa-gift gift_icon" do %>
        <div class="cartnumbers">22</div>
      <% end %>
      <%= link_to "", "#", class: "glyphicon glyphicon-search searchicon", id: "search-btn" %>

      <div class="dropdown">
        <%= link_to "", "#", id: "dLabel", class: "fa fa-navicon navicon dropdown-toggle", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
          <ul class="dropdown-menu drop-right drop-panel" aria-labelledby="dLabel">
            <li><%= link_to "My Account", my_account_path, class: "dropdown-item" %></li>
            <li><%= link_to "Change Password", "#", class: "dropdown-item" %></li>
            <li><%= link_to "Edit Profile", "#", class: "dropdown-item" %></li>
            <li><%= link_to "FAQ", notices_path, class: "dropdown-item" %></li>
          </ul>
      </div>

    </div>
  </div>
  <div class="bar-left"></div>
  <div class="bar-right"></div>
  <div class="bar-bottom"></div>
  <div class="menu-box">
    <div class="menu-list">
      <h2><%= link_to 'MAIN PAGE', root_path %></h2>
      <h2><%= link_to 'ABOUT', about_path %></h2>
      <h2><%= link_to 'JEWELRY', products_path %></h2>
      <h2><%= link_to 'GEM','#' %></h2>
      <h2><%= link_to 'EMERALD','#' %></h2>
      <h2><%= link_to 'CONTACTS',contact_path %></h2>
    </div>
    <div class="watermark"></div>
    <div class="menu-pink-ball"></div>
  </div>
</div>

<div id="search">
  <button type="button" class="close">×</button>
  <form>
    <input type="search" value="" placeholder="Please Type Your Keyword(s) Here" />
    <button type="submit" class="btn btn-primary btn-lg">Search</button>
  </form>
</div>

<div class="top">
  <i class="fa fa-chevron-circle-up"></i>
</div>

<script type="text/javascript">

  $('.dropdown-toggle').dropdown();

  if( $(window).scrollTop() + $('.navicon').height() < $(window).height() ){
    $('.top').hide();
  };

  $(window).scroll(function(){
    if( $(window).scrollTop() + $('.navicon').height() > $(window).height() ){
      $('.top').show(1000);
    }
    else {
      $('.top').hide(1000);
    };
  });

  $('.top').click(function(){
    $('html, body').animate({ scrollTop: 0 }, 1000);
  });

  if( window.location.pathname === '/product_content' || window.location.pathname === '/notices' || window.location.pathname === '/my_account' || window.location.pathname === '/cart' || window.location.pathname === '/checkout/address_new' || window.location.pathname === '/checkout/payment' || window.location.pathname === '/users/sign_up' || window.location.pathname === '/users/sign_in'){
    $('.navicon').addClass('active');
  };

  if( window.location.pathname === '/contact' ){
    $('.top').hide();
  };

  var menutoggle = false;
  $('.felice').click(function(){
    if(menutoggle == false){
      menutoggle = true;
      $('.menu-box').show(0,function(){
        $('.menu-list').addClass('menu-list-active');
        $('.watermark').addClass('watermark-active');
        $('.menu-pink-ball').addClass('pink-ball-active');
        $('.navicon').removeClass('active');
      });
    }
    else {
      menutoggle = false;
      $('.menu-list').removeClass('menu-list-active');
      $('.watermark').removeClass('watermark-active');
      $('.menu-pink-ball').removeClass('pink-ball-active');
      setTimeout(function(){
        $('.menu-box').hide(0);
        if( $(window).scrollTop() + $('.navicon').height() > $(window).height() || ( window.location.pathname === '/product_content' )){
          $('.navicon').addClass('active');
        };
      },1000);
    }
  });

  $(function () {
    $('#search-btn').on('click', function(event) {
      event.preventDefault();
      $('#search').addClass('open');
      $('#search > form > input[type="search"]').focus();
    });

    $('#search, #search button.close').on('click keyup', function(event) {
      if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
          $(this).removeClass('open');
      }
    });

    //Do not include! This prevents the form from submitting for DEMO purposes only!
    $('form').submit(function(event) {
      event.preventDefault();
      return false;
    })
  });
</script>
