<div class="iconbar">
  <div class="bar-top">
    <!-- <p id="monitor" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorbottom" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicheight" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicoffsettop" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p>
    <p id="monitorpicoffsetbottom" style="text-align:center;z-index:100;text-shadow:0 0 6px black;color:white;"></p> -->
    <div class="navicon">
      <div class="iconbutton">
        <div class="felice">
          <%= image_tag ('FELICE123-01.png'), size: '233x31' %>
        </div>
      </div>
      <%= link_to "", "#search", class: "glyphicon glyphicon-search searchicon", id: "search-btn" %>
      <%= link_to "#", class: "fa fa-gift gift_icon" do %>
        <div class="cartnumbers">22</div>
      <% end %>
      <a href="#" class="signinbutton">
        Sign In
        <span class="circle"></span>
        <!-- <span class="leftborder"></span>
        <span class="rightborder"></span> -->
      </a>
    </div>
  </div>
  <div class="bar-left"></div>
  <div class="bar-right"></div>
  <div class="bar-bottom"></div>
  <div class="menu-box">
    <div class="menu-list">
      <h2><%= link_to 'MAIN PAGE', root_path %></h2>
      <h2><%= link_to 'ABOUT', about_path %></h2>
      <h2><%= link_to 'JEWELRY', products_path %></h2>
      <h2><%= link_to 'GEM','#' %></h2>
      <h2><%= link_to 'EMERALD','#' %></h2>
      <h2><%= link_to 'CONTACTS',contact_path %></h2>
    </div>
    <div class="watermark"></div>
    <div class="menu-pink-ball"></div>
  </div>
</div>

<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
</div>

<script type="text/javascript">
  // var top = $(window).scrollTop();
  // var ef="yhhf"
  // $(window).bind('scroll',function(){
  //   var windowtop    = $(window).scrollTop();
  //   var windowbottom = $(window).scrollTop() + $(window).height();
  //   var targettop = $('.ee').offset().top;
  //   var targetbottom = $('.ee').offset().top + $('.ee').height();
  //   // $('#monitor').text($(window))
  //   $('#monitor').text($(window).scrollTop());
  //   $('#monitorbottom').text(windowbottom);
  //   $('#monitorpicheight').text($('.ee').height());
  //   $('#monitorpicoffsettop').text(targettop);
  //   $('#monitorpicoffsetbottom').text(targetbottom);
  // });

  // alert($(window).scrollTop());

  if( window.location.pathname === '/product_content' ){
    $('.navicon').addClass('active');
  };

  var menutoggle = false;
  $('.felice').click(function(){
    if(menutoggle == false){
      menutoggle = true;
      $('.menu-box').show(0,function(){
        $('.menu-list').addClass('menu-list-active');
        $('.watermark').addClass('watermark-active');
        $('.menu-pink-ball').addClass('pink-ball-active');
        $('.navicon').removeClass('active');
      });
    }
    else {
      menutoggle = false;
      $('.menu-list').removeClass('menu-list-active');
      $('.watermark').removeClass('watermark-active');
      $('.menu-pink-ball').removeClass('pink-ball-active');
      setTimeout(function(){
        $('.menu-box').hide(0);
        if( $(window).scrollTop() + $('.navicon').height() > $(window).height() || ( window.location.pathname === '/product_content' )){
          $('.navicon').addClass('active');
        };
      },1000);
    }
  });

  $(function () {
    $('#search-btn').on('click', function(event) {
      event.preventDefault();
      $('#search').addClass('open');
      $('#search > form > input[type="search"]').focus();
    });

    $('#search, #search button.close').on('click keyup', function(event) {
      if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
          $(this).removeClass('open');
      }
    });

    //Do not include! This prevents the form from submitting for DEMO purposes only!
    $('form').submit(function(event) {
      event.preventDefault();
      return false;
    })
  });
</script>
