<div class="header isHome">
  <ul class="navul">
    <div class="center">
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"mainpage_pic" %>
        <%= link_to 'MAIN PAGE', root_path, id: "mainpage_button", class: "nav-rest nav" %>
      </li>
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"about_pic" %>
        <%= link_to 'ABOUT', about_path, id: "about_button", class: "nav-rest nav" %>
      </li>
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"collections_pic" %>
        <%= link_to 'JEWELRY', products_path, id: "collections_button", class: "nav-rest nav" %>
      </li>
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"jewelry_pic" %>
        <%= link_to 'GEM', '#', id: "jewelry_button", class: "nav-rest nav" %>
      </li>
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"style_pic" %>
        <%= link_to 'EMERALD', '#', id: "style_button", class: "nav-rest nav" %>
      </li>
      <li>
        <%= image_tag ("felice2-01.png"), size:'150x150', class:"contact_pic" %>
        <%= link_to 'CONTACT', contact_path, id: "contact_button", class: "nav-rest nav" %>
      </li>
    </div>
  </ul>
  <ul class="navul-icon">
    <div class="icon-space">
      <li class="nav-icon">
        <i class="fa fa-facebook icon"></i>
      </li>
    </div>
    <div class="icon-space">
      <li class="nav-icon">
        <i class="fa fa-twitter icon"></i>
      </li>
    </div>
    <div class="icon-space">
      <li class="nav-icon">
        <i class="fa fa-google icon"></i>
      </li>
    </div>
    <div class="icon-space">
      <li class="nav-icon">
        <i class="fa fa-rss icon"></i>
      </li>
    </div>
  </ul>
</div>

<script type="text/javascript">
  $('.nav-rest').hover(
    function(){
      $(this).parent().addClass('active');
    },
    function(){
      $(this).parent().removeClass('active');
    }
  );
</script>
